
html, body {
    background: rgb(29, 29, 29);
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.console{
    top: 8px;
    position: absolute;
}
.inputBox{
    width: 180px;
    height: 25px;
    bottom:0%;
    border: none;
    border:solid 1px #c2c1c1;
    border-radius: 10px;
}
.container {
    position: relative;
    background: #e5e5e5;
    border-radius: 30px;
    min-width: 320px;
    min-height: 620px;
    max-height: 640px;
    max-width: 340px;
    top: 68px;
}
.dark-mode {
    background: gray;
  }
.button{
    display:block;
}
.button:active {
    color:black;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}
.buttonSmall{
    width: 30px;
    height: 30px;
    margin: 5px;
}
.buttonCircle {
    width: 55px; 
    color:black;
    height: 55px;
    margin: 10px;
    border: 1px solid #c2c1c1;
    border-radius: 50%;
}

.menuGrid{
    display: grid;
    width: 80%;
    align-self: center;
    overflow: hidden;
    grid-template-columns: auto auto auto;
    border-radius: 30px;
    border: 1px outset #c2c1c1;
}
.menuGrid>button {
    padding: 10px 20px;
}
span.label {
    font-size: 12px;
    color: #8e8e8e;
}
.menuGrid>button>i {
    color: #2e2e2e;
    font-size: 1.2em;
    margin-bottom: 5px;
}
.verticalElipse{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-15), translateY(-15);
    align-items: center;
    background: #d9d9d9;
    width: 60px;
    height: 120px;
    border-radius: 50px;
}
.fas {
    color:#2e2e2e;
}
div.menuGrid>button>i.active {
    color: #d51600;
}

i.home-icon {
    font-size: 24px;
    color: #2e2e2e;
}
i.control-icon {
    font-size: 24px;
    color: #2e2e2e;
}
.outerCircle {
    position: relative;
    border: 1px solid #c2c1c1;
    width:150px; 
    height: 150px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttonEnter{
    color:black;
    width: 50px; 
    border-radius: 50%;
    border: 1px solid #c2c1c1;
    height: 50px;
}
.buttonSmallCircle{
    width: 25px; 
    height: 25px;
    border-radius: 50%;
    border: 1px solid #c2c1c1;
}