<!doctype html>
<html>
    <style>
        body{
      
            text-align: center;
        }
        .textinput{
            resize: none;
            width:  80vw;
            height: 85vh;
            background-color: black;
            color: green;
            /*transform: rotate(0deg); maybe i can somehow mirror the text to write from to bottom to the top idk
            writing-mode: tb-rl;*/
        }
    </style>
<body>
        <textarea class="textinput" rows="1" readonly>{{value}}</textarea> 
</body>
</html>