<!DOCTYPE html>
<html>
    <!--Refresh the Iframe every 5 sek -->
    <script>
        window.setInterval("refreshIframe()", 5000)
        function refreshIframe() {
            var frameHolder=document.getElementById('iframeConsole');
            frameHolder.src="console.html"
        }
    </script>
    <style>
        html,body{
            font-family: "Montserrat", sans-serif;
            background: rgb(29, 29, 29);
        }
        .wrapper{
            text-align: center;
            align-items: center;
        }
        .iframeConsole iframe{
            width: 350px;
            height: 50px;
            top: 0%;
        }
        .iframeRemote iframe{
            width: 350px;
            height: 650px;
        }
    </style>
    <head >
        <title>RemoteControl</title>    
    </head>
    <body>
        <div class="wrapper">
            <div class="iframeConsole">
                <iframe id="iframeConsole" src="console.html" frameborder="0" scrolling="no"></iframe>
            </div>
            <div class="iframeRemote">
                <iframe id="iframeRemote" src="controler.html" frameborder="0" scrolling="no"></iframe>
            </div>
            
        </div>
    </body>   
</html>