<!DOCTYPE html>
<!--ty for making this public https://github.com/ui-code/RemoteControl-->
<html>
    <head>
        <script>
            function toggleDarkmode() {
                var element = document.getElementById('container');
                element.classList.toggle("darkMode");
            }
            window.addEventListener('scroll', function () {
                //When scroll change, you save it on localStorage.
                localStorage.setItem('scrollPositionMain', window.scrollY);
            }, false);
            window.onload = function () {
                document.getElementById("iframeConsole").innerHTML = '<iframe id="iframeConsole" scrolling="no" src="console.html"></iframe>'; //render the console on load
                scrollIframe();
                scrollStoredPos();
            }
            function scrollIframe() {
                if (document.getElementById('iframeConsole')) {
                    const iframe = document.getElementById('iframeConsole').firstElementChild
                    iframe.onload = function () {
                        const element = document.getElementById('iframeConsole').firstElementChild.contentWindow.document.getElementById('content') //get the element with id=content of console.html
                        element.scrollTop = element.scrollHeight; //scroll all the way to the bottom of the element
                    };
                }
            }
            function scrollStoredPos() { //if we have stored scroll pos, lets scroll
                if (localStorage.getItem('scrollPositionMain') !== null) {
                    window.scrollTo(0, localStorage.getItem('scrollPositionMain'));
                }
            }
            //window.setInterval("generateIframe()", 5000) /*Reload the function generateIframe() every 5 sek*/
            function generateIframe() {
                document.getElementById("iframeConsole").innerHTML = '<iframe id="iframeConsole" scrolling="no" src="console.html"></iframe>';
                setTimeout(scrollStoredPos, 80); // idk but seems like browser needs some time for me ~80ms
                scrollIframe();
            }
        </script>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
            crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/controler.css') }}">
        <title>Control</title>
    </head>
    <body>
        <form method="POST">
            <!--container for remote device + console-->
            <div class="wrapper" id="wrapper">
                <div class="console">
                    <div id="iframeConsole"></div>
                </div>
                <div class="container" id="container">
                    <div class="d-flex flex-row justify-content-between px-3 py-4 align-items-center">
                        <form method="PUT" action="/">
                            <button type="submit" class="buttonSmallCircle">
                                <i class="fas fa-chevron-left"></i>
                            </button>
                        </form>
                        <input class="inputBox" name="userInput"></input>
                        <button onclick="toggleDarkmode()" type="button" class="buttonSmallCircle">
                            <i class="fas fa-lightbulb"></i>
                        </button>
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                        <div class="menuGrid">
                            <button type="submit" name="buttonPower" class="button" value="pressed">
                                <i class="fas fa-power-off active"></i>
                                <span class="label">Power</span>
                            </button>
                            <button type="submit" name="buttonInput" class="button" value="pressed">
                                <i class="fas fa-sign-in-alt"></i>
                                <span class="label">Input</span>
                            </button>
                            <button type="submit" name="buttonControl" class="button" value="pressed">
                                <i class="fas fa-cog"></i>
                                <span class="label">Control</span>
                            </button>
                            <button type="submit" name="buttonMenu" class="button" value="pressed">
                                <i class="fas fa-bars"></i>
                                <span class="label">Menu</span>
                            </button>
                            <button type="submit" name="buttonNumeric" class="button" value="pressed">
                                <i class="fas fa-circle"></i>
                                <span class="label">Numeric</span>
                            </button>
                            <button type="submit" name="buttonBack" class="button" value="pressed">
                                <i class="fas fa-arrow-left"></i>
                                <span class="label">Back</span>
                            </button>
                        </div>
                        <div class="d-flex flex-row mt-4 justify-content-between px-2">
                            <div class="verticalElipse">
                                <button type="submit" class="buttonSlimm" name="buttonChannelUp" value="pressed">
                                    <i class="fas fa-chevron-up control-icon"></i>
                                </button>
                                <span class="label">Channel</span>
                                <button type="submit" class="buttonSlimm" name="buttonChannelDown" value="pressed">
                                    <i class="fas fa-chevron-down control-icon"></i>
                                </button>
                            </div>
                            <button type="submit" class="buttonCircle" name="buttonHome" value="pressed">
                                <i class="fas fa-home home-icon"></i>
                                <span class="label">Home</span>
                            </button>
                            <div class="verticalElipse">
                                <button type="submit" class="buttonSlimm" name="buttonVolumeUp" value="pressed">
                                    <i class="fas fa-plus control-icon"></i>
                                </button>
                                <span class="label">Volume</span>
                                <button type="submit" class="buttonSlimm" name="buttonVolumeDown" value="pressed">
                                    <i class="fas fa-minus control-icon"></i>
                                </button>
                            </div>
                        </div>
                        <div class="outerCircle">
                            <button type="submit" class="buttonSmallCircle" name="buttonArrowUp"
                                style="transform: rotate(270deg) translateX(-12px);" value="pressed">
                                <!--there must be a better solution, this is painful-->
                                <i class="fas fa-caret-right control-icon"></i>
                            </button>
                            <button type="submit" class="buttonSmallCircle" name="buttonArrowLeft"
                                style="transform: rotate(180deg) translateY(-38px) translateX(55px);" value="pressed">
                                <!--there must be a better solution, this is painful-->
                                <i class="fas fa-caret-right control-icon"></i>
                            </button>
                            <button type="submit" class="buttonEnter" name="buttonEnter" value="pressed">
                                <span>OK</span>
                            </button>
                            <button type="submit" class="buttonSmallCircle" name="buttonArrowRight"
                                style="transform: rotate(0deg) translateY(-40px) translateX(55px);" value="pressed">
                                <!--there must be a better solution, this is painful-->
                                <i class="fas fa-caret-right control-icon"></i>
                            </button>
                            <button type="submit" class="buttonSmallCircle" name="buttonArrowDown"
                                style="transform: rotate(90deg) translateX(-12px);" value="pressed">
                                <!--there must be a better solution, this is painful-->
                                <i class="fas fa-caret-right control-icon"></i>
                            </button>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <button type="submit" class="buttonCircle" name="buttonDots" value="pressed">
                                <i class="fas fa-ellipsis-h control-icon"></i>
                            </button>
                            <button type="submit" class="buttonCircle" name="buttonMute" value="pressed">
                                <i class="fas fa-volume-mute control-icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>