<!DOCTYPE html>
<html>
    <style>
        html,body{
            background-color: black;
        }
        .wrapper{
            text-align: center;
            align-items: center;
        }
        .iframeRemote iframe{
            width: auto;
            height: auto;
        }
    </style>
    <head >
        <title>RemoteControl</title>    
    </head>
    <body>
        <div class="wrapper">
            <div class="iframeRemote">
                <iframe id="iframeConsole"src="controller.html" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </body>   
</html>